<section class='app-announcement {{ .Get "direction" }}'>
  <img src='{{ .Get "app_img" }}' class='shadow-{{ .Get "app_img_shadow" }}' alt='{{ .Get "app_img_alt" }}' width='{{ .Get "width" }}' height='{{ .Get "height" }}' />
  <div>
    {{ with .Get "app_name" }}
       <h3 class='mt-0'>{{ . }}</h3>
    {{ end }}
    {{ .Inner | markdownify }}
  </div>
</section>

